@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Slab:wght@400;900&display=swap');

::selection{
  background: #9c4f22 !important;
  color: #FFF;
}
.navbar{
  color: #efeceb !important;
  padding: 1.5rem 1.5rem;
  overflow-y: hidden;
}

.nav-item{
  color: #efeceb !important;
}

#logo{
  color: #fff;
}
.nav-item .active{
  color: rgb(236, 229, 229);
}

.tagline{
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
  font-size: 3rem !important;
  text-align: center;
  font-weight: 800;    
  font-family: "Roboto slab", "sans-serif";
}


.works{
  background: #1f1f1f;
  min-height: 1080px;
}


.overlay-img{
  background: url(../img/portfolio.png) no-repeat;
  min-height: 1080px;
  background-size: cover;
}


.works-text{
  color: #fff !important;
  font-family: "Roboto slab", "sans-serif" !important;
  font-weight: 650;
}

.line-on-center {
  margin-left: auto;
  margin-right: auto;
}

.line-on-center {
  display: block;
  width: 8px;
  height: 8px;
  margin: 1rem auto;
  position: relative;
  background: #9c4f22;
}

.line-on-center:before {
  left: 0;
  right: auto;
  transform: translate(-150%, -50%);
}

.line-on-center:after {
  right: 0;
  left: auto;
  transform: translate(150%, -50%);
}

.line-on-center:before{
  content: "";
  position: absolute;
  background: inherit;
  width: 25px;
  height: 4px;
  border-radius: 1rem;
  top: 50%;
}

.line-on-center:after {
  content: "";
  position: absolute;
  background: inherit;
  width: 25px;
  height: 4px;
  border-radius: 1rem;
  top: 50%;
} 

.work-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-work{
  position: relative;
  margin: 5px;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  z-index: 1;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.work-nav .nav-work:not(:last-child)::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #9c4f22;
  position: absolute;
  left: 100%;
  top: 50%;
  transform : translateY(-50%);
}

.nav-work:hover{
  color: #9c4f22;
}

.img-fluid{
  object-fit: cover !important;
}

.portfolio-blocks .item {
    border-radius: 0;
    overflow: hidden;
}
.item:hover .overlay-color {
  opacity: 0.5;
}
.item .overlay-color {
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease-in-out 0s;
}
.info-title{
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
.overlay-pic{
  background: #121212 !important ;
}
body.overlay-is-grey .overlay-color {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  background: #121212 !important;
  opacity: 0.5;
}
.item {
    overflow: hidden;
    position: relative;
}
.portfolio-img-link {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  z-index: 1;
  transition: all 0.5s ease-in-out 0s;
}
.portfolio-img-link {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  z-index: 1;
  transition: all 0.5s ease-in-out 0s;
}
.item:hover .portfolio-img {
  transform: scale(1.05);
  transform-origin: center;
}
.item .portfolio-img {
  display: block;
  min-width: 100%;
  object-fit: cover;
  height: 350px;
  transition: all 1s ease 0s;
}
.item:hover .icon {
  pointer-events: auto;
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%);
}
.item .icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 3rem;
  background: rgba(156, 79, 34, 0.8);
  color: #fff;
  font-size: 1.25rem;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0);
  margin: 0;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  z-index: 5;
  transition: all 0.25s ease-in-out 0s;
}
.item:hover .item-info {
  transform: scaleX(1);
  opacity: 1;
}
.item .item-info {
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  bottom: 0px;
  width: 100%;
  padding: 0.5rem 0rem;
  margin: 0;
  opacity: 0;
  z-index: 5;
  background-color: rgba(18, 18, 18, 0.75);
  transition: all 0.3s ease-out 0s;
  text-align: center;
}

.overlay{
  position: absolute;
  top: 0;
  left: 15px;
  width: 94.7%;
  height: 100%;
  background: rgba(18, 18, 18, 0.6);
}


.thought{
  min-height: 350px;
  z-index: 999999;
}

.ma-btn-primary {
  border-radius: 0 !important;
  border-color: #9c4f22;
  color: #fff;
  background: #9c4f22;
}
.ma-btn-secondary, .ma-btn-primary, .ma-btn-tetra {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
  padding: 0.625rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0px 7px 10px -5px rgb(0 0 0 / 25%);
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
  z-index: 0;
}
.ma-btn-primary::before, .ma-btn-primary::after {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  top: -50%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: rotate(-15deg) translateX(-150%);
  z-index: -1;
  transition: all 0.5s ease-in-out 0s;
}

.ma-btn-primary::before, .ma-btn-primary::after {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  top: -50%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: rotate(-15deg) translateX(-150%);
  z-index: -1;
  transition: all 0.5s ease-in-out 0s;
}
.ma-btn-primary::after {
  transition-delay: 0.08s;
}

.ma-btn-primary:hover {
  color: #9c4f22;
  background: rgba(0, 0, 0, 0);
  border-color: #9c4f22;
}
.ma-btn-primary:hover {
  text-decoration: none;
}
.ma-btn-primary:hover::before, .ma-btn-primary:hover::after {
  left: 150%;
  transform: rotate(-15deg) translateX(100%);
}
.ma-btn-primary:hover::after {
  left: 150%;
  transform: rotate(-15deg) translateX(100%);
}



.ma-btn-secondary {
  border-radius: 0 !important;
  border-color: #1f1f1f;
  color: #fff;
  background: #1f1f1f;
}
.ma-btn-secondary, .ma-btn-secondary {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
  padding: 1rem 4rem;
  font-size: 1.1rem;
  font-weight: 500;
  box-shadow: 0px 7px 10px -5px rgb(0 0 0 / 25%);
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
  z-index: 0;
}
.ma-btn-secondary::before, .ma-btn-secondary::after {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  top: -50%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: rotate(-15deg) translateX(-150%);
  z-index: -1;
  transition: all 0.5s ease-in-out 0s;
}

.ma-btn-secondary::before, .ma-btn-secondary::after {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  top: -50%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: rotate(-15deg) translateX(-150%);
  z-index: -1;
  transition: all 0.5s ease-in-out 0s;
}
.ma-btn-secondary::after {
  transition-delay: 0.08s;
}

.ma-btn-secondary:hover {
  color: #1f1f1f;
  background: #9c4f22;
  border-color: #9c4f22;
  font-weight: 600;
}

.ma-btn-secondary:hover {
  text-decoration: none;
}
.ma-btn-secondary:hover::before, .ma-btn-secondary:hover::after {
  left: 150%;
  transform: rotate(-15deg) translateX(100%);
}
.ma-btn-secondary:hover::after {
  left: 150%;
  transform: rotate(-15deg) translateX(100%);
}

.our-clients{
  background: #252525;
  min-height: 100px;
}


.getin{
  max-height: 550px !important;
  background: #1f1f1f;
}
.getin .jarallax , .getin .jarallax .demo-table{
  max-height: 550px !important;
}

.getin .jarallax .demo-table .tagline{
  margin-bottom: 1.25rem;
    font-family: "Roboto slab", "sans-serif";
    font-size: 3rem;
    font-weight: 800;
    text-transform: capitalize;
    color: #f1f1f1;
    line-height: 1.3;
}

.subtitle{
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: rgba(241, 241, 241, 0.75);
  width: 60%;
  margin: 0 auto;
}





.getin .jarallax .demo-table.getin .jarallax .demo-table .line-on-center {
  margin-left: auto;
  margin-right: auto;
}

.getin .jarallax .demo-table .line-on-center {
  display: block;
  width: 8px;
  height: 8px;
  margin: 1rem auto;
  position: relative;
  background: #fff;
}

.getin .jarallax .demo-table .line-on-center:before {
  left: 0;
  right: auto;
  transform: translate(-150%, -50%);
}

.getin .jarallax .demo-table .line-on-center:after {
  right: 0;
  left: auto;
  transform: translate(150%, -50%);
}

.getin .jarallax .demo-table .line-on-center:before{
  content: "";
  position: absolute;
  background: inherit;
  width: 25px;
  height: 4px;
  border-radius: 1rem;
  top: 50%;
}

.getin .jarallax .demo-table .line-on-center:after {
  content: "";
  position: absolute;
  background: inherit;
  width: 25px;
  height: 4px;
  border-radius: 1rem;
  top: 50%;
} 



.ma-btn-tetra {
  border-radius: 0 !important;
  border-color: #fff;
  color: #fff;
  background: transparent;
}


.ma-btn-tetra::before, .ma-btn-tetra::after {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  top: -50%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: rotate(-15deg) translateX(-150%);
  z-index: -1;
  transition: all 0.5s ease-in-out 0s;
}

.ma-btn-tetra::before, .ma-btn-tetra::after {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  top: -50%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: rotate(-15deg) translateX(-150%);
  z-index: -1;
  transition: all 0.5s ease-in-out 0s;
}
.ma-btn-tetra::after {
  transition-delay: 0.08s;
}

.ma-btn-tetra:hover {
  background-color: #9c4f22;
  border-color: #9c4f22;
  color: #fff;
}
.ma-btn-tetra:hover {
  text-decoration: none;
}
.ma-btn-tetra:hover::before, .ma-btn-tetra:hover::after {
  left: 150%;
  transform: rotate(-15deg) translateX(100%);
}
.ma-btn-tetra:hover::after {
  left: 150%;
  transform: rotate(-15deg) translateX(100%);
}

#preloader{
  background: #f9f9f9 url(../img/galshir-lemonade-camera.gif) no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100000;
}


.dark-color-footer {
  background-color: #252525;
}
.page-footer {
  padding-top: 4rem;
  position: relative;
}
.footer-col {
  margin-bottom: 1.5rem;
}
.footer-cols {
  overflow: hidden;
  margin-bottom: 2rem;
}

.footer-cols .col-lg-4{
  max-width: 26.88888888%;
}

.footer-col-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: #9c4f22;
}

.footer-text-about-us {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  padding-right: 1rem;
  margin-bottom: 1.25rem;
  color: #fff;
}

.dir-row .sc-list {
  padding: 0;
  margin: 0;
  display: inline-flex;
  list-style: none;
}

.dir-row .sc-list .sc-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #9c4f22;
  transition: all 0.5s ease-in-out 0s;
}

.sc-size-32 .sc-item {
  width: 32px;
  height: 32px;
  font-size: 0.85rem;
}

.dir-row .sc-list .sc-item {
  margin-right: 10px;
  margin-bottom: 5px;
}

.dir-row .sc-list .sc-link {
  display: flex;
  line-height: 1;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}

.dir-row .sc-list .sc-icon {
  color: #fff;
  transition: all 0.3s 
}
.dir-row .sc-list .sc-item:hover {
  background: #fff;
  box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 25%);
}
.dir-row .sc-list .sc-item:hover {
  transform: translateY(-5px);
}

.dark-color-footer .sc-wraper .sc-list .sc-item:hover .sc-icon{
  color: #9c4f22;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu-item {
  display: block;
  position: relative;
  padding-bottom: 1rem;
}
.footer-menu-item a{
    font-weight: 500;
    font-size: 0.85rem;
    text-decoration: none;
    text-transform: capitalize;
    text-decoration: none;
    color: #f1f1f1;
    display: inline-block;
    transition: all 0.25s ease-in-out 0s;
}
.footer-menu-link:hover {
  text-decoration: none;
  transform: translateX(0.25rem);
}
.contact-info-card {
  font-weight: 600;
  padding: 0;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out 0s;
}

.contact-info-card .icon {
  font-size: 1.25rem;
  width: 1.5rem;
  text-align: center;
  margin-right: 0.5rem;
  vertical-align: middle;
  color: #9c4f22;
}

.contact-info-card .info {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  color: #f1f1f1;
  display: inline-block;
  transition: all 0.25s ease-in-out 0s;
}
.contact-info-card .info:hover {
    text-decoration: none;
    transform: translateX(0.25rem);
    cursor:pointer;
}


.copyrights {
  padding: 0.5rem 0;
  overflow: hidden;
}

.dark-color-footer .copyrights .credits{
  color: #f1f1f1;
}

.copyrights .credits {
  text-align: left;
  font-weight: 600;
  margin: 0;
  font-size: 0.85rem;
  color: #4d4d4d;
}

.dark-color-footer .copyrights .credits .link {
  color: #fff;
  transition: all 0.5s ease-in-out 0s;
}
.copyrights .credits .link:hover {
  font-weight: 600;
  color: #9c4f22;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out 0s;
}
.copyrights .terms-links {
  text-align: right;
  color: #9c4f22;
}


.copyrights .col-md-6 {
  flex: 0 0 50%;
  max-width: 46.666666%;
}

.copyrights .terms-links > a {
  text-decoration: none !important;
  font-weight: 600;
  transition: all 0.5s ease-in-out 0s;
  color: #f1f1f1;
  text-decoration: none;
}
.dark-color-footer .terms-links > a:hover {
  color: #9c4f22;
}

.logo-footer{
  margin-top: 5%;
  width: 70%;
}